.login {
  width: 98.9vw;
  text-align: center;
  border: 1px solid #ccc;
  color: white;
  background-color: rgb(100, 91, 91);
}

.div {
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.inputs2 {
  padding: 10px;
  margin: 10px;
}

.inputs2 input {
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
}

.send {
  padding: 10px;
  background-color: orange;
  border-radius: 15px;
}

.footerimg {
  width: 99vw;
}
